// App.scss

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #C2F9FF;
  font-family: 'Indie Flower', cursive;
}

.App {
  display: flex;
  // flex-direction: column;
  // min-height: 100vh;
  margin-top: 10rem;
  // left: 0;
  // right: 0;
  // margin-right: 3%;
  justify-content: center;
  overflow-y: auto;
// width: 95%;
padding: 1rem;
// position: fixed;
// top: 0;
// bottom: 0;

}

.page-container {
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 1rem;
  overflow-y: auto;
}

.AppContent {
  // flex: 1;
}

// @media (max-height: 800px) {
//   .AppContent {
//     transform: scale(0.8); // Scales down the page to 80% of its original size
//     margin-bottom: -5rem;
//     margin-top: -1.5rem;
//   }
// }

// @media (max-height: 600px) {
//   .AppContent {
//     transform: scale(0.5); // Scales down the page to 70% of its original size
//   }
// }

// @media (max-height: 400px) {
//   .AppContent {
//     transform: scale(0.3); // Scales down the page to 60% of its original size
//   }
// }