// Card.scss

.solo-card-container {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
}
// Variables for colors used in gradients
$type-color-1: #7B9AE1;
$type-color-2: #5E74A1;
$type-color-3: #aa8ec8;
$type-color-4: #829de6;
$type-color-5: #c75189;
$type-color-6: #3abf6d;
$type-color-7: #3abf6d;
$type-color-8: #8e97ed;

// Class for container
.organizecardsB {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}

// Electric Type color classes
.color-1 {
  background: linear-gradient(to bottom right, $type-color-1, $type-color-2, $type-color-1, $type-color-2, $type-color-1);
}

.color-2 {
  background: linear-gradient(to bottom right, $type-color-4, $type-color-5, $type-color-4, $type-color-5, $type-color-4);
} 

.color-fusion {
  background: linear-gradient(to bottom right, $type-color-1, $type-color-3, $type-color-4, $type-color-3, $type-color-1);
}

// Name and image information
.nameimageinfo {
  width: 24.5rem;
  height: 35rem;
  margin: 0rem 0.75vw;
  padding: 5px 10px;
  border: 10px solid $type-color-8;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-height: 800px) {
    & {
      transform: scale(0.7); // Scales down the container to 80% of its original size
      // margin-bottom: -3rem;
      // margin-top: -1.5rem;
      margin: -4rem -3rem -5rem;
    }
  }
  
  @media (max-height: 600px) {
    & {
      transform: scale(0.5); // Scales down the container to 50% of its original size
    }
  }
  
  @media (max-height: 400px) {
    & {
      transform: scale(0.3); // Scales down the container to 30% of its original size
    }
  }

} 

.nameheaders {
  width: 10rem;
  vertical-align: center;
  margin-top: 1rem;
}

// Stat container classes
.top_stat_container {
  display: flex;
  width: 20rem;
  margin-right: 0;
  // margin-bottom: -0.5rem;
}

.top_stats {
  display: flex;
}

.stat_container {
  display: flex;
  justify-content: space-between;
  zoom: 95%;
  gap: 1.75rem;
  width: 19.5rem;
  margin-right: 1.75rem;
  margin-bottom: 0.25rem;
}

.stats {
  display: flex; 
  height: 2rem;
  width: 8rem;
  margin-left:0.25rem;
  padding-right: 8rem;
}

// Dog breed and Name of Dog
.basic {
  display: flex;
  font-size: 0.70em;
  font-weight: 600;
  padding-top: 0.12rem;
  height: 1rem;
}

.nameofanimal {
  position: relative;
  text-align: start;
  font-weight: 700;
  font-size: 1.35rem;
  width: 10rem;
  height: 3.5rem;
  padding: 0;
  margin-bottom: -1.25rem;
  margin-top: -0.25rem;
  padding-right: 0.5rem ;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.nameofanimal:hover {
  text-overflow: unset;
  white-space: normal;
  overflow: visible;
  background-color: rgba(128, 128, 128, 0.55);
}

// Protectiveness container styles
.protect_container {
  display: flex;
  // align-items: flex-end;
  justify-content: flex-start;
  gap:0px;
  width: 11rem;
  height: 2rem;
}

.protect_container > .attackdesc {
  margin-left: -0.15rem;
  padding-right: 0.15rem;
}

.protect_container > .typesign {
  margin-top: -0.5rem;

} 

.typesign {
  font-size: 20px;
  text-align: center;
  width: 20px;
  margin-left: -0.30rem;;
}

// Image and description styles
.card_img {
  padding: 0;
  margin: 0 0 5px;
  border: 5px $type-color-8 outset;
  box-shadow: 3px 3px 10px #000;
  min-width: 21rem;
  min-height: 14rem;
  cursor: pointer;
}

.below_image_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: 0 0 0 0;
}

.description {
  display: flex;
  justify-content: space-around;
  width: 18rem;
  padding: 1px 2px;
  margin: -1.5rem auto;
  background: linear-gradient(to right, $type-color-6, $type-color-8, $type-color-7);
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 600;
  text-align: center;
}

.set_logo {
  width: 1.25rem;  
  margin-top: -1.5rem;
  margin-left: -1.25rem;
}

.energy_symbol {
  width: 1.1rem;
  margin-top: 0.65rem;
}

.label {
  font-weight: 700;
  font-size: 0.85rem;
}

.attackdesc {
  margin-right: 0.20rem;
  padding-right: 0.75rem;
}

// Bullets removed for ul, li
ul, li {
  list-style: none;
  padding: 0;
}

// Bottom description and copyrights
.breed_facts {
  background: linear-gradient(to right, $type-color-6, $type-color-8, $type-color-7);
  width: fit-content;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0 5px;
  font-style: italic;
  margin-top: 0.5rem;
}

.italicize {
  text-align: start;
  padding: 0.75rem 1rem 0 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 0.75rem;
  border: 1px ridge $type-color-8;
  border-radius: 2px;
  width: 22rem;
  height: 7.5rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
  }
}

.copyrights {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-left: 1rem;
  font-size: 0.55rem;
  font-weight: 700;
  text-align: center;
  padding: 0;
  height: 1rem;
  width: 20rem;
  margin-bottom: 1.15rem;
}
