.contact-us-container {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;

  @media (max-height: 800px) {
    & {
      transform: scale(0.9);
      margin-top: -2rem;
    }
  }
  
  @media (max-height: 600px) {
    & {
    }
  }
  
  @media (max-height: 400px) {
    & {
    }
  }

}

.contact-header-section {
  display: flex;
  flex-direction: column;
  margin-right: 4.5rem;

  h1 {
    font-size: 10vh; // Use rem for font size
  }  
}

.github-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem; 
  margin-right: 10vw;

  .github-icon {
    height: 11vh;
  }
  
  p {
    text-decoration: none;
    color: inherit;
    font-size: 1.5vw;
    font-weight: 700;
  }
  
  .Link {
    text-decoration: none;
    color: inherit;
  }
} 

.enlarged-pawprint-image {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 55vh;
}

.linkedin-container {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;

  .coder-container {
    margin: 1rem;
    font-size: 1.5vw;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .linkedin-icon {
    height: 10vh;
  }
} 
