// EnlargedPawprintImage.scss

.enlarged-pawprint-container {
  display: flex;
  align-items: center;
  height: 25rem;
  position: relative;
}

.enlarged-pawprint-image {
  position: relative;
  width: 35rem;
  height: 35rem;
  min-height: 25rem;
  max-width: 50vw;
  padding-bottom: 1rem;
}

.tiktok-icon {
  position: absolute;
  left: 8%;
  bottom: 55%;
  width: 3.5vw;
  background-color: #EFDCAE;
  border-radius: 50%;
}

.instagram-icon {
  position: absolute;
  width: 3.5vw;
  background-color: #EFDCAE;
  border-radius: 50%;
  left: 29.5%;
  bottom: 75%;
  // margin: 10rem;
}

.email-icon {
  position: absolute;
  width: 3.5vw;
  background-color: #EFDCAE;
  border-radius: 50%;
  bottom: 75%;
  right: 33.5%;
}

.facebook-icon {
  position: absolute;
  width: 3.5vw;
  background-color: #EFDCAE;
  border-radius: 50%;
  right: 12%;
  bottom: 55%;
}

.mailing-address-icon {
  position: absolute;
  width: 3.5vw;
  background-color: #EFDCAE;
  border-radius: 50%;
  left: 42%;
  right: 42%;
}

.mailing-address {
  position: absolute;
  left: 31%;
  right: 36%;
  top:70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.65vw;
  font-weight: 700;
  height: 12vh;
  margin-bottom: 1rem;
} 