// EnlargedPawprintImage.scss

.enlarged-pawprint-container {
  display: flex;
  align-items: center;
  height: 25rem;
  position: relative;
}

.enlarged-pawprint-image {
  position: relative;
  width: 35rem;
  height: 35rem;
  min-height: 25rem;
  max-width: 50vw;
  // padding-bottom: 1rem;
}

.tiktok-icon {
  position: absolute;
  left: 7.5%;
  bottom: 47.5%;
  width: 3.5vw;
  background-color: #EFDCAE;
  border-radius: 50%;
}

.instagram-icon {
  position: absolute;
  width: 3.5vw;
  background-color: #EFDCAE;
  border-radius: 50%;
  left: 30%;
  bottom: 75%;
  // margin: 10rem;
}

.email-icon {
  position: absolute;
  width: 3.5vw;
  background-color: #EFDCAE;
  border-radius: 50%;
  bottom: 75%;
  right: 30%;
}

.facebook-icon {
  position: absolute;
  width: 3.5vw;
  background-color: #EFDCAE;
  border-radius: 50%;
  right: 7.5%;
  bottom: 47.5%;
}

.mailing-address-icon {
  position: absolute;
  width: 3.5vw;
  background-color: #EFDCAE;
  border-radius: 50%;
  left: 44%;
  // right: 40%;
}

.mailing-address {
  position: absolute;
  margin-top: 0.5rem;
  width: 41%;
  left: 31%;
  right: 36%;
  top:70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.65vw;
  font-weight: 700;
  height: 12vh;
  margin-bottom: 0.5rem;
} 