// EnlargedPawprintImage.scss

.enlarged-pawprint-container {
  display: flex;
  align-items: center;
  height: 30rem;
  position: relative;
  // transform: translate(-50%, -50%);
}

.enlarged-pawprint-image {
  position: relative;
  width: 35rem;
  height: 35rem;
}

.tiktok-icon {
  position: absolute;
  left: 9%;
  bottom: 50%;
  width: 4rem;
  background-color: #EFDCAE;
  border-radius: 50%;
}

.instagram-icon {
  position: absolute;
  width: 4rem;
  background-color: #EFDCAE;
  border-radius: 50%;
  left: 31%;
  bottom: 70%;
  // margin: 10rem;
}

.email-icon {
  position: absolute;
  width: 4rem;
  background-color: #EFDCAE;
  border-radius: 50%;
  bottom: 70%;
  right: 31%;
}

.facebook-icon {
  position: absolute;
  width: 4rem;
  background-color: #EFDCAE;
  border-radius: 50%;
  right: 9%;
  bottom: 50%;
}

.mailing-address-icon {
  position: absolute;
  width: 4rem;
  background-color: #EFDCAE;
  border-radius: 50%;
  left: 44%;
}

.mailing-address {
  position: absolute;
  left: 33%;
  bottom:8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  height: 12vh;

} 

.enlarged-pawprint-image {
  display: flex;
  justify-content: center;
  align-items: center; 

}