.homepage {
  width: 100vw;
}


.main {
  display: flex;
  flex-direction:column;
  width: 75%; 
  left: 0;
  
}

.home_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  p {
    font-size: 2.5vw;
  }
  h1 {
    font-size: 5vw;
  }
}

.feed-link {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.dog-container {
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
}

.dog_home {
  position: absolute;
  border-radius: 10%;
  opacity: 0;
  transition: opacity 5s ease; 
}

.dog_home.active {
  opacity: 1;
}

.dog_home.fade-in {
  animation: fadingInOut 8s infinite;
}

.sign_in {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 40%; 
  right: 12%; 
  margin: 0; 
  transition: filter 0.3s ease;
  font-weight: 600;
  font-size: 2.5vw;

  &:hover {
    filter: brightness(1.2);
  }

  img {
    width: 10rem;
    max-width: 100%;
    cursor: pointer;
  }
}

.public-newsfeed-button {
  max-width: 100%;
  align-self: center; 
  margin-top: 1rem; 
  padding: 0.75em 1.5em; 
  border-radius: 8px;
  background-color: #FFBEBA;
  transition: filter 0.3s ease;
  font-family: inherit;
  font-weight: 700;
  font-size: 2.5vw;

  cursor: pointer;

  &:hover {
    filter: brightness(1.2);
  }
}

@media (max-height: 800px) { 
  .main {
    margin-top: -5rem;
    margin-bottom: -5rem;
  }



  .public-newsfeed-button, .sign_in > img {
    padding: 0.25em; 
  }

  .public-newsfeed-button {
    margin-top: 2rem
  }

}

