.homepage {
  
$font-size-large: 5rem; // h1
$font-size-medium: 1.75rem; // p
$font-size-small: 1.25rem; // buttons and smaller text

$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

@mixin responsive-font($size-large, $size-medium, $size-small) {
  h1 {
    font-size: $size-large;
  }
  p, .sign_in{
    font-size: $size-medium;
  }
  .public-newsfeed-button{
    font-size: $size-small;
  }

  @media (max-width: $breakpoint-desktop) {
    h1 {
      font-size: $size-large * 0.8;
    }
    p, .sign_in{
      font-size: $size-medium * 0.8;
    }
    .public-newsfeed-button {
      font-size: $size-small * 0.8;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    h1 {
      font-size: $size-large * 0.7;
    }
    p, .sign_in {
      font-size: $size-medium * 0.7;
    }
    .public-newsfeed-button {
      font-size: $size-small * 0.7;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    h1 {
      font-size: $size-large * 0.6;
    }
    p, .sign_in {
      font-size: $size-medium * 0.6;
    }
    .public-newsfeed-button {
      font-size: $size-small * 0.6;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 0;
  overflow: hidden;
  @include responsive-font($font-size-large, $font-size-medium, $font-size-small);
  @media (max-height: 800px) {
    & {
      transform: scale(0.8); // Scales down the container to 80% of its original size
      margin-bottom: -5rem;
      margin-top: -1.5rem;
    }
  }
  
  @media (max-height: 600px) {
    & {
      transform: scale(0.5); // Scales down the container to 50% of its original size
    }
  }
  
  @media (max-height: 400px) {
    & {
      transform: scale(0.3); // Scales down the container to 30% of its original size
    }
  }
}

.home_main {
  display: flex;
  flex-direction: column;
  max-width: 90vw; // Adjusted for better responsiveness
  align-items: center;
  text-align: center;

  // Ensure h1 scales properly with a maximum size
  h1 {
    max-font-size: $font-size-large;
  }

  // Adjust paragraph width and ensure it's responsive
  p {
    width: 100%;
    max-width: 750px; // Ensures the text is not too wide on large screens
    margin: 0 auto 2rem;
  }
}

.dog_container {
  position: relative;
  height: 50vh;
  width: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dog_home {
  position: absolute;
  height: 50vh; 
  border-radius: 10%;
  opacity: 0;
  transition: opacity 5s ease; 
}

.dog_home.active {
  opacity: 1;
}

.dog_home.fade-in {
  animation: fadingInOut 8s infinite;
}

@keyframes fadingInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadingIn {
  0% {
    opacity: 0;
  }
  
  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.sign_in {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 40%; // Adjust top positioning to be responsive
  right: 12%; // Adjust right positioning to be responsive
  margin: 0; // Remove negative margin
  transition: filter 0.3s ease;
  font-weight: 600;

  &:hover {
    filter: brightness(1.2);
  }

  // Adjust image size to be responsive
  img {
    width: 10rem; // Fixed size
    max-width: 100%; // Max size relative to the viewport width
    cursor: pointer;
  }
}

.public-newsfeed-button {
  max-width: 100%;
  align-self: center; // Align button to the center of its container
  margin-top: 1rem; // Consistent margin
  padding: 0.75em 1.5em; // Padding for better touch targets
  border-radius: 8px;
  background-color: #FFBEBA;
  transition: filter 0.3s ease;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    filter: brightness(1.2);
  }
}

@media (max-height: 800px) { 
  .main {
    margin-top: -5rem;
    margin-bottom: -5rem;
  }

  // Any other adjustments to reduce the overall height of elements
  .dog_container, .dog_home {
    transform: scale(1.1); 
    margin: 1rem;
  }

  .public-newsfeed-button, .sign_in > img {
    padding: 0.25em; 
  }

  .public-newsfeed-button {
    margin-top: 2rem
  }

}

// Responsive font-size adjustments
@include responsive-font($font-size-large, $font-size-medium, $font-size-small); 
}