.page-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
  }

  .header {
    h1 {
      text-align: center;
      padding-top: .5rem;
      font-size: 5vw;
    }

    h3 {
      text-align: center;
    }
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;

    img {
      width: 100%;
      height: auto;
      cursor: pointer;
      border-radius: 8px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
  }
  @media (max-height: 800px) {
    & {
      margin-bottom: -6rem;
      padding-bottom: 5rem;
    }
  }
  
  @media (max-height: 600px) {
    & {
    }
  }
  
  @media (max-height: 400px) {
    & {
    }
  }

} 

@media(max-height:800px) {
  .page-body {
    height: 75vh;
  }

  .image-grid {
    padding-bottom: -10rem;
  }
}
