// NavigationBarTop.scss

.top-navigation-bar {
  display: flex;
  font-size: 2vh;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-top: 2vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-side {
  display: flex;
  align-items: center;
} 

.generate-mixed-breed-container {
  display: flex;
  flex-direction: column;
}

.logo-link {
  
}

.logo-link > img {
  height: 15vh;
  margin: 0 1rem 0 2vw;
}

.muttly-logo {
  &:hover {
    filter:brightness(1.2);
  }
}

.muttly-brand {
  font-size: 6vh;
}

.muttly-slogan {

}

.right-side {
  // Styling for the sign-in-out-button 
}

.sign-in-out-link {
  // Styling for the Bark In/Bark Out logo link
}

.log-container {
  display: flex;
  align-items: end;
  margin-bottom: 3vh;
  min-height: 4rem;
  &:hover {
    filter: brightness(1.5);
}

.login-btn, .logout-btn {
  min-width: 9vw;
  max-height: 5vh;
  min-height: 3rem;
  margin-right: 1rem;
  font-weight: 700;
  color: white;
  padding: 0.5rem;
  font-family: 'Indie Flower', cursive;
  border-radius: 8px;
  font-size: 1.5rem;
}

.login-btn {
  background-color:#BF5B8F;
  border: 2px outset #BF5B8F;
}

.logout-btn {
  background-color: #7B9AE1;
  border: 2px outset #7B9AE1;
}

.login-icon {
  justify-self: end;
  align-items: end;
  height: 12vh;
  margin-bottom: -4.5vh;
}

}