// NewsFeedUserPage.scss

.users-news-feed-user-container {
  display: flex;
  justify-content: space-around;

  @media (max-height: 800px) {
    & {
      transform: scale(0.9); 
      margin-bottom: -5rem;
      margin-top: -1.5rem;
    }
  }
  
  @media (max-height: 600px) {
    & {
      transform: scale(0.5); 
    }
  }
  
  @media (max-height: 400px) {
    & {
      transform: scale(0.3); 
    }
  }

}

.news-feed-container-generate {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.users-news-feed-content {
  margin-top: 2.5vh;

  h2 {
    text-align: left;
    font-size: 2.5vh;
  }

  .userfeed-clickable-title {
    display: flex;
    align-items: center;
    width: fit-content;
    border-bottom: 2px solid black;
    height: 2vh;
    padding: 0.25rem 0.5rem 0.5rem 0.5rem;
    text-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  }
}

.images-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;

  img {
    width: 20vh;
    height: 8vw;
    object-fit: cover;
    margin: 0.5vh;
    border-radius: 8px;
    cursor: pointer;
  }
}  

.users-generated-image-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1.5rem;

  img {
    width: 20vh;
    height: 8vw;
    object-fit: cover;
    margin: 0.5vh;
    border-radius: 8px;
    cursor: pointer;
  }
}

.your-generations {
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 3vh;
  border-bottom: 2px solid black;
  margin-bottom: 1.5rem;
  height: 2vh;
  padding: 0.25rem 0.5rem 0.5rem 0.5rem;
  text-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.userfeed-h2 {
  display: flex;
  align-items: center;
  width: fit-content;
  border-bottom: 2px solid black;
  padding: 0.25rem 0.5rem 0.5rem 0.5rem;

}

.generate-button {
  margin-top: 1vh;
  padding: 0.50rem 0.25rem 0rem 0.25rem;
  height: 18vh;
  margin-bottom: 3vh;
  cursor: pointer;
  animation: pulse 5s infinite;
  border-radius: 50%; 
  
  @keyframes glow {
    from {
      box-shadow: 0 0 10px white, 0 0 20px white, 0 0 20px white; /* Initial glow effect */
    }
    to {
      box-shadow: 0 0 20px white, 0 0 20px white, 0 0 60px white; /* Final glow effect */
    }
  }
}

.bone-animate {
  margin-left: 0.5rem;
  width: 1.5vw;
  margin-bottom: 1vh;
  animation: wiggle infinite 0.5s ease-in-out; 

  @keyframes wiggle {
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-1px);
  }
  80% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
}