// NewsFeedPublicPage.scss

.news-feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 3vw;
    margin-top: 1rem;
  }

  h2 {
    font-size: 2.5vh;
  }

  h3 {
    font-size: 1.25vw;
  }

  @media (max-height: 800px) {
    & {
      margin-top: -1rem;
    }
  }
  
  @media (max-height: 600px) {
    & {
      transform: scale(0.5); // Scales down the container to 50% of its original size
    }
  }
  
  @media (max-height: 400px) {
    & {
      transform: scale(0.3); // Scales down the container to 30% of its original size
    }
  }
} 

.public-feed-clickable-title {
  display: flex;
  align-items: center;
  width: fit-content;
  border-bottom: 2px solid black;
  height: 2rem;
  padding: 0.25rem 0.5rem 0.5rem 0.5rem;
  text-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;

  img {
    margin-left: 0.5rem;
    width: 1.5vw;
  }
}

.most-popular-images-row,
.recently-generated-images-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // margin-top: 1rem;
  margin-bottom: 1.25vh;
}

.most-popular-images-thumbnail,
.recently-generated-images-thumbnail {
  display: flex;
  box-sizing: border-box;
  width: 13vw;
  margin: 1rem; 
  border-radius: 8px;
}

.news-feed-content {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: -1.5rem;
}
