.organizecardsB {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
  // font-family: 'Cabin', sans-serif;
}

.color-1 {
  /* color card background - ELECTRIC TYPE */
  background: linear-gradient(to bottom right, #a1b8ff, #8a9eff, #a1b8ff, #8a9eff, #a1b8ff);
  ;
} 

.color-2 {
  /* color card background - ELECTRIC TYPE */
  background: linear-gradient(to bottom right, #7B9AE1, #9D77B5, #BF5B8F, #9D77B5, #7B9AE1);
  ;
  ;
  ;
  ;
}

.color-3 {
  /* color card background - ELECTRIC TYPE */
  background: linear-gradient(to bottom right, #e682bf, #c75189, #e682bf, #c75189, #e682bf);
  ;
}

.nameimageinfo {
  width: 24.5rem;
  height: 35rem;
  margin: 0px;
  padding: 5px 10px 5px 10px;
  border: 10px solid #EDCF8E;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Forcing s to the same full width */
.nameheaders {
  width: 16vw;
  vertical-align: center;
  margin-top: 1rem;
}

.top_stat_container {
  display: flex;
  width: 20rem;
  margin-right: 0;
  margin-bottom: -0.5rem;
}

.top_stats {
  display: flex;
}

.stat_container {
  display: flex;
  justify-content: space-between;
  gap: 1.75rem;
  width: 19.5rem;
  margin-right: 1rem;
  margin-bottom: 0.25rem;
}

.stats {

}

.symbol_container {
  display: flex;
}

/* NAME AND BASIC STATS */

/* ----- "Basic Pokemon" font styling */
.basic {
  font-size: 0.70em;
  font-weight: 600;
  padding: 0px;
  height: 1rem;
}

/* ----- Name of Pokemon font styling */
.nameofanimal {
  font-weight: 700;
  font-size: 1.25rem;
  width: 11rem;
  height: 2.5rem;
  padding: 0px;
  margin-bottom: -1rem;
}

.protect_container {
  display: flex;
  align-items: flex-end;
  width: 5rem;
  height: 2rem;
}

.protect_container > .attackdesc {
  margin-bottom: 0.3rem;
}

.typesign {
  font-size: 20px;
  text-align: center;
  width: 20px;
}

/* IMAGE AND DESCRIPTION */

/* ----- Image border and drop shadow */
.card_img {
  padding: 0px;
  margin: 0px 0px 5px 0px;
  border: 5px #EDCF8E outset;
  box-shadow: 3px 3px 10px #000;
  /* Ensure the images are always correct size
 Note this will skew images of the wrong ratio */
  min-width: 21rem;
  min-height: 14rem;
}

/* Description font styling and gradient box
this is DIRECTLY UNDER THE IMAGE */

.below_image_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: 0 0 0.25rem 0 ;
}

.description {
  /* This is skinnier than the image above it */
  display: flex;
  justify-content: space-around;
  width: 18rem; /* DO NOT REMOVE, HEATHER! */
  padding: 1px 2px 1px 2px;
  margin: -1.5rem auto;
  background: linear-gradient(to right, #C69E40, #EDCF8E, #BFAF3A);
  font-size: 10px;
  font-style: italic;
  font-weight: 600;
  text-align: center;
}

.set_logo {
  width: 1.25rem;  
  margin-top: -1.5rem;
  margin-left: -1.25rem;
}

.energy_symbol {
  width: 1rem;
}


.label {
  font-weight: 700;
  font-size: 0.75rem;
}

.attackdesc {
  margin-right: 0.20rem;
}


.stats {
  display: flex; 
  height: 2rem;
  width: 100%;
}


/* Comply with requirements by having no bullets */
ul, li {
  list-style: none;
  padding: 0px;
}

/* BOTTOM DESCRIPTION */

/* The bottom description and the copyrights
are two bullets in a list with different classes
to style them differently */

/* Bottom of card just above copyrights */
.breed_facts{
  background: linear-gradient(to right, #C69E40, #EDCF8E, #BFAF3A);
  width: fit-content;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0px 5px;
  font-style: italic;
}

.italicize {
  padding: 0 1rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  font-style: italic;
  font-weight: 600;
  font-size: 0.65rem;
  border: 1px ridge #EDCF8E;
  border-radius: 2px;
  width: 22rem;
  height: 7.5rem;
  /* Remove comment marks to test size */
  /* border: 1px solid magenta; */
}

/* COPYRIGHTS */
.copyrights {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-left: 1rem;
  font-size: 0.55rem;
  font-weight: 700;
  text-align: center;
  padding: 0px;
  height: 1rem;
  width: 20rem;
  margin-bottom: 0.75rem;
}
