// SignInModal.scss

.signin-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rbga(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.signin-modal {
  background-color: #F6F1F1;
  padding: 20px;
  text-align: center;
  position: relative;
  border-radius: 50px;

  .close-button {
    position: absolute;
    top: -5px;
    right: 40px;
    font-size: 60px;
    cursor: pointer;
  }

  .logo-header {
    margin-bottom: 20px;

    .logo {
      width: 25%;
      height: auto;
    }

    h2 {
      margin-top: 0px;
      margin-bottom: 10px;
      font-size: 50px;
      font-weight: bolder;
    }

    h3 {
      margin-top: -5px;
      font-size: 13px;
    }
  }

  .form-container {
    label {
      font-size: 18px;
      display: block;
      margin-top: -0px;
      margin-bottom: 8px;
    }

    input {
      text-align: center;
      font-style: italic;
      width: 180px;
      padding: 10px;
      margin-bottom: 16px;
      box-sizing: border-box;
    }

    button {
      margin-top: 10px;
      font-weight: bold;
      font-size: 18px;
      width: auto;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-family: 'Indie Flower', cursive;
      border-radius: 8px;
      background-color:#BF5B8F;
      &:hover {
        filter: brightness(1.5);
    }
    }
  }
}