// UserFavouritesPage.scss

@import './NavigationBarTop.scss';
@import './NavigationBarBottom.scss';
@import './DogBreedCardModal.scss';

.user-favourites-page-container {
  display: flex;
  flex-direction: column;
}

.page-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;

  .header {
    h1 {
      text-align: center;
      padding-top: .5rem;
      font-size: 5vw;
    }

    h3 {
      text-align: center;
      top: -1.875rem;
      top: -30%;
    }
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 1.75rem;

    img {
      width: 100%;
      height: auto;
      cursor: pointer;
      border-radius: 8px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
  }
}