// UserFavouritesPage.scss

@import './NavigationBarTop.scss';
@import './NavigationBarBottom.scss';
@import './DogBreedCardModal.scss';

.user-favourites-page-container {
  display: flex;
  flex-direction: column;
  // margin-top: 20px;
  // margin-bottom: 20px;
  // position: absolute;

}

.page-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;

  .header {
    h1 {
      text-align: center;
      padding-top: .5rem;
      font-size: 5vw;
    }

    h3 {
      text-align: center;
      top: -1.875rem;
      top: -30%;
      // left: 30rem;
    }
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 1.75rem;

    img {
      width: 100%;
      height: auto;
      cursor: pointer;
      border-radius: 8px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

      // Styling for the images
    }
    // Styling for anything extra
  }
}

// ----- PHOTOLABS SCSS ----- \\

/* 

  PhotoList.scss

.photo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.photo-list:after {
  content: "";
  flex: 0 1 30%;
  margin: 5px;
}

*/

/*

  PhotoListItem.scss

.photo-list__item {
  margin: 24px;
  padding: 8px;
  border-width: 0.5px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 8px;
  max-width: fit-content;
}

.photo-list__image {
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.photo-list__image {
  border-radius: 8px 8px 0px 0px;
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.photo-list__user-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

.photo-list__user-details {
  display: flex;
}

.photo-list__user-info {
  margin-top: 5px;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;
}

.photo-list__user-location {
  color: #838383;
}

*/